#PALETA_DE_COLORES {
    color: #34495e #3498db #5fbaa7 #f5f7fa #ffffff;
  }
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
  
    background-color: #f5f7fa;
    color: #000000;
  }
  
  

  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    background: white;
  
    position: fixed;
    width: 100%;
    height: 90px;
    box-shadow: 0 6px 8px rgba(0,0,0, 0.10);
  
    z-index: 1;
  }
  #logo,
#contacto {
  display: flex;
  height: 55px;
  width: 55px;
  margin: 10px;
}

#logo,
#contacto > img {
  width: auto;
  padding: 5px;
}
  
  .mapa-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: hidden;
  }
  
  .mapa-container iframe {
    width: 100%;
    height: calc(100vh - 90px);
    border: 0;
  }
  
  .mapa-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
  
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    color: #000000;
    font-size: 18px;
  }
  
  .direccion {
    background-color: #f5f7fa;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .direccion h3 {
    color:#34495e;
    text-transform: uppercase;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background: #3498db;
    color:white;
    text-align: center;
    height: 50vh;
    padding: 6rem 3rem;
  }
  
  .contacto-container {
    width: 600px;
    max-width: 100%;
  }
  
  .contacto-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  #contacto-form {
    width: 600px;
    max-width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 8px;
    border: 1px solid #f5f7fa;
    border-radius: 3px;
  }
  
  .redes-sociales-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 3rem 2rem;
  }
  
  .fa-brands {
    font-size: 2rem;
    color: hsl(210, 29%, 29%);
  }
  
  .fa-brands:hover {
    color: hsl(167, 40%, 55%);
  }
  
  .fa-brands:active {
    color: hsl(167, 40%, 45%);
  }
  #btn-ir-arriba {
    display: none;
    cursor: pointer;
  
    position: fixed;
    bottom: 20px;
    right: 20px;
  
    background: hsl(210, 29%, 29%);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
  
    box-shadow: 0px 12px 7px rgba(0, 0, 0, .1);
    transition: 300ms ease;
  }
  
  #btn-ir-arriba:hover {
    background: hsl(210, 29%, 24%);
    transform: translateY(-0.5rem);
  }
  
  #btn-ir-arriba svg {
    width: 25px;
    fill: none;
    stroke: white;
    stroke-width: 3px;
  }